9. ТРЕБОВАНИЯ К ПОДГОТОВКЕ ДОКЛАДА И ОФОРМЛЕНИЮ
ПРЕЗЕНТАЦИИ К ЗАЩИТЕ ВКР
9.1. К защите ВКР студент готовит доклад по теме выпускной работы на
7-10 минут, в котором он должен суметь донести смысл проведенной работы,
ее целесообразность, продемонстрировать необходимые профессиональные
компетенции и объем проделанной работы.
Защита ВКР проходит с использованием мультимедийной аппаратуры,
поэтому к докладу создается презентация для показа демонстрационных мате-
риалов по ходу доклада выпускника.
9.2. Структура, содержание и дизайн компьютерной презентации –
это личное творчество автора, однако есть ряд рекомендаций, которых следует
придерживаться при ее подготовке.
Общие рекомендации к подготовке презентации касаются содержания и
структуры презентации.
9.2.1. Для подготовки презентации используются соответствующие про-
граммы – Microsoft PowerPoint, LibreOffice Impress или другие аналоги.
25
Итоговая версия презентации должна быть также представлена в формате
PDF.
9.2.2. Содержание и структура презентации должны быть согласованы с
научным руководителем выпускной квалификационной работы.
9.2.3. Содержание презентации должно соответствовать структуре до-
клада и теме ВКР.
9.2.4. Количество слайдов не должно превышать 10-15 штук. Можно под-
готовить дополнительные слайды, которые не будут задействованы в
ходе основного доклада, но могут быть использованы для более деталь-
ного пояснения в случае возникновения вопросов. Эти слайды рекомен-
дуется скрыть, используя гиперссылки.
9.2.5. Слайды презентации не должны содержать орфографических оши-
бок. Их наличие может повлиять на качество восприятия самого доклада
и, как вариант, на окончательную оценку работы.
9.2.6. Слайды не должны быть перегружены графической и текстовой ин-
формацией. Не рекомендуется использовать различные эффекты анима-
ции и звуковое сопровождение.
9.2.7. Также слайды не должны служить конспектом для докладчика. Не
рекомендуется во время защиты читать текст или повторять наизусть то,
что написано непосредственно на слайде.
9.2.8. Первым слайдом презентации должен быть титульный слайд, содер-
жащий название ВКР, номер и наименование направления подготовки,
фамилию и группу защищающегося, фамилию и должность руководителя
ВКР и консультанта (при наличии). Примеры титульных слайдов приве-
ден в Приложении H.
9.2.9. Заключительный слайд (или несколько при необходимости) должен
содержать подведение итогов проделанной работы или ответов на во-
просы:
• какая работа была проделана и какие задачи выполнены;
• достигнута ли цель выпускной работы;
• какие положительные и отрицательные численные оценки работы
можно сделать (если что-то улучшили, то насколько);
• какие существуют перспективы для дальнейшего развития и приме-
нения результатов работы.
9.2.10. Далее следует придерживаться нижеприведенной структуры пре-
зентации, включающей такие слайды, как:
26
• титульный лист;
• актуальность темы ВКР;
• цель и задачи ВКР;
• описание выполненных работ по разделам ВКР (количество слай-
дов зависит от состава и содержания работ), в общем виде: ̶
Анализ предметной области исследования; ̶
Теоретическое предложение для решения выявленных недо-
статков. Определение новизны и концептуального решения; ̶
Технологическое решение на основе теоретического предло-
жения, включая архитектуру программного решения и его ре-
ализацию; ̶
Апробация и анализ полученных результатов на основе сфор-
мулированных метрик;
• заключение или выводы.
9.2.11. При проведении ГЭК в очном формате студенту предлагается рас-
печатать слайды презентации и при необходимости дополнительные ма-
териалы для каждого члена ГЭК. При дистанционном формате предлага-
ется поместить файл с презентацией в место общего доступа.
9.2.12. При оформлении слайдов следует придерживаться стандартных
правил презентации научных работ.
• Вся презентация должна быть выдержана в едином стиле, на базе
одного шаблона. Стиль включает в себя: общую цветовую схему,
параметры шрифтов, схему шаблона, цвет фона, способы оформле-
ния иллюстраций, схем, диаграмм, таблиц и др.
• Стиль презентации должен быть нейтральным, без лишних эффек-
тов и отвлекающих декоративных элементов. Фон слайда предлага-
ется сделать белым, он считается наиболее благоприятным для вос-
приятия. Цвет и размер шрифтов должны быть такими, чтобы текст
на слайде при воспроизведении мультимедийными средствами хо-
рошо читался.
• Каждый слайд должен содержать заголовок, соответствующий его
содержанию.
• Все слайды (кроме титульного) должны быть пронумерованы,
чтобы проще было обращаться к ним во время дополнительных во-
просов на защите. Формат нумерации слайдов должен содержать
номер текущего слайда и общее количество слайдов презентации.
Например, «5 из 10».
9.2.13. Презентация должна быть загружена на компьютер в аудитории,
где проводится защита, заблаговременно до начала всех защит.
27
9.3. Подготовка доклада к защите выпускной работы – необходимый и
важный процесс. От того насколько хорошо он будет подготовлен, зависит ка-
кое впечатление произведет докладчик на экзаменационную комиссию, и в ко-
нечном итоге, какая будет выставлена оценка.
9.3.1. Стандартная структура доклада имеет следующий вид: ̶
Вступление; ̶
Основная часть; ̶
Заключение.
9.3.2. Доклад начинается со слов приветствия «Уважаемый председатель
и члены аттестационной комиссии разрешите представить доклад по теме
выпускной работы …Тема работы».
9.3.3. Доклад и презентацию можно готовить одновременно, привязывая
текст доклада к слайдам презентации.
9.3.4. Из выпускной работы в доклад выбирается наиболее важная инфор-
мация, без которой работа не имеет смысла. При этом не должна теряться
логическая последовательность изложения, которая содержится в вы-
пускной работе. Если текст выпускной работы сформулирован пра-
вильно, то структура (план) доклада будет соответствовать структуре
ВКР. В доклад добавляются выводы из каждой главы, а в презентацию
иллюстрации, из которых эти выводы следуют.
9.3.5. Заканчивать доклад следует словами «Таким образом, цель выпуск-
ной квалификационной работы достигнута и поставленные задачи выпол-
нены. Спасибо за внимание».
9.3.6. Доклад обязательно должен быть отпечатан. Прочтение текста до-
клада не должно занимать более 7 минут. В среднем текст доклада зани-
мает 2-4 страницы, напечатанные через одинарный интервал 14 кеглем.
9.3.7. Имеет смысл предварительно провести предзащиту с руководите-
лем выпускной работы, замерив время, которое занимает доклад.
9.3.8. Во время защиты ВКР можно воспользоваться следующими реко-
мендациями:
• доклад лучше не читать, а рассказывать;
• не рекомендуется во время доклада держать руки в карманах или
поворачиваться спиной к членам ГЭК;
• во время доклада говорить нужно четко, уверенно, эмоционально,
правильно делать ударения в словах;
• важно делать паузы перед каждым новым разделом доклада;
• презентация работы должна проходить в темпе, нормальном для
восприятия, не слишком медленном и не слишком быстром;
28
• не стоит возвращаться к упущенной мысли словами: «Я забыл ска-
зать, что…», разрушая созданный перед этим контекст;
• во время доклада и ответов на вопросы речь должна быть ясной и
отчетливой, манера поведения – исключительно деловой, жестику-
ляция – сдержанной, мимика – спокойной и уверенно доброжела-
тельной;
• можно заранее подготовить «скрытые» слайды, которые будут ил-
люстрировать ответы на предполагаемые вопросы членов комис-
сии;
• на вопросы членов ГЭК не рекомендуется отвечать «не знаю», а
также вопросом на вопрос. Если заданный вопрос не по теме, сле-
дует корректно ответить, что его решение не было предусмотрено
задачами исследования.